body {
    background: "#8E05C2";
    font-family: 'Verdana', sans-serif;
  }
  img {
    max-width:100%;
  }
  .avator {
    border-radius:100px;
    width:48px;
    margin-right:30px;
  }

  .song-wrapper{
    max-height:80px;
    overflow:hidden;
  }
  
  .tweet-wrap {
    max-width:100%;
    background: #000;
    opacity: 85%;
    margin: 0 auto;
    border-radius:12px;
    padding: 20px;
    border-bottom: 1px solid #3E065F;
    border-top: 1px solid #3E065F;
  }
  
  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
    user-select: none;
  }
  .tweet-header-info {
    font-weight:bold;
    font-family:"GameOver";
    color: #fff;
    overflow: hidden;
  }
  .tweet-header-info span {
    color:#fff;
    font-weight:normal;
    margin-left: 20px;
  }
  .tweet-header-info p {
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-right: 20px;
    overflow-wrap:break-word;
    user-select: text;
  }

  .tweet-img-wrap {
    padding-left: 60px;
  }
  
  .tweet-info-counts {
    font-family:"GameOver";
    display: flex;
    color: #fff;
    margin-left: 80px;
    margin-top: 10px;
    user-select: none;
  }
  .tweet-info-counts div {
    display: flex;
    margin-right: 6vw;
  }
  .tweet-info-counts div svg {
    color:#fff;
    margin-right: 10px;
  }
  @media screen and (max-width:430px){
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .tweet-header {
      flex-direction:column;
    }
    .tweet-header img {
      margin-bottom: 20px;
    }
    .tweet-header-info p {
      margin-bottom: 30px;
    }
    .tweet-img-wrap {
      padding-left: 0;
    }
    .tweet-info-counts {
    display: flex;
    margin-left: 0;
  }
  .tweet-info-counts div {
    margin-right: 10px;
  }
  }