@font-face {
  font-family: GameOver;
  src: url('game over.ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

.logo {
  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  font-family: "GameOver";
  font-size:100px;
  background-color: #000000;
  min-height: 7vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  padding-top: 8vh;
  height: 18vh;
  transition: height 0.2s;
  z-index: 1000;
}

.header-scrolled {
  padding-top: 2vh;
  height: 7vh;
  font-size: 30px;
}

.App-body{
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  height: 200vh;
  background: rgb(0,0,0);
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(62,6,95,1) 50%, rgba(142,5,194,1) 100%);
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
